@import "./variables";

.navbar {
  background-color: $nav-bg-color;
  color: $white;
  padding: 0;
}

.navbar-brand,
.nav-link {
  color: $white;
  font-weight: 500;
  padding: 14px;
}

.navbar-brand:hover {
  color: $white;
}

.nav-link:hover {
  color: $white;
  background-color: $heading-color;
}

.nav-link:focus,
.navbar-brand:focus {
  color: $white;
}

.navDropdown {
  background-color: transparent;
  border: transparent;
  outline: none;
}

.navDropdown:hover {
  background-color: transparent;
  color: #6854c2;
}

.navDropdown:visited {
  background-color: transparent;
}

.navDropdown:focus {
  background-color: transparent;
}

.dropdownMenu {
  padding: 0;
}

.dropdownItem {
  border-bottom: 1px solid #d8dbe0;
  color: $primary-color;
  font-weight: 500;
}

.dropdownMenu p {
  padding: 15px;
  font-weight: 800;
  color: $primary-color;
}

.dropdownItem:hover {
  background-color: $primary-color;
  color: $white;
}

.formContainer,
.detailsContainer {
  background-color: $white;
  margin: auto;
  box-sizing: border-box;
  color: $paragraph-color;
  width: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.formContainer h3 {
  color: $heading-color;
  margin-bottom: 30px;
  font-weight: 700;
}

.formContainer label {
  font-weight: 600;
  font-size: 1.4rem;
  color: $content-text-color;
}

.formContainer input,
.formContainer textarea {
  background-color: transparent;
  border: 1px solid #d9c6ed;
  font-weight: 600;
  color: $primary-color;
}

.formContainer input.form-control:focus,
.formContainer textarea.form-control:focus {
  box-shadow: 0 0;
  outline: 0 none;
  background-color: transparent;
  color: $primary-color;
  font-weight: 600;
}

.formContainer option,
select {
  color: $primary-color;
  font-weight: 600;
}

.formContainer button.btn {
  background-color: $primary-color;
  color: $btn-color;
  width: 20%;
  display: block;
}

.formContainer button.btn:hover {
  background-color: transparent;
}

.btnGroup{
  display:"flex";
  justify-content:"center";
  align-items:"center";
}

.back-btn{
  outline: none;
  border: none;
  background-color: inherit;
}

.back-btn i{
  border-radius: 70%;
  background-color: inherit;
  color: $primary-color;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 7px;
}

.donationForm button.btn:disabled,
.donationForm button.btn[disabled] {
  background-color: rgb(123, 162, 174);
  outline: none;
  border: none;
  cursor: not-allowed;
}

.statusAvailable {
  background-color: #d2ebd3;
  padding: 7px;
  border-radius: 10px;
  font-weight: 700;
  color: $status-available-color;
}

.statusSold {
  background-color: #f5d0cd;
  padding: 7px;
  border-radius: 10px;
  color: $status-sold-color;
  font-weight: 700;
}

.detailsContainer h3 {
  border-bottom: 1px solid rgb(181, 191, 185);
  padding-bottom: 10px;
  color: $heading-color;
  font-weight: 700;
}

.details {
  margin-top: 30px;
}

.detailsContainer h5 {
  margin-top: 20px;
  font-weight: 600;
  color: $content-text-color;
}

.detailsContainer span {
  color: $heading-color;
  font-weight: 700;
}

.detailsContainer .editIcon{
  margin-left: 10px;
  cursor: pointer;
}

.detailsContainer button.btn {
  background-color: inherit;
  border: 1px solid $primary-color;
  color: $primary-color;
  width: 20%;
  font-weight: 500;
}

.detailsContainer button.btn:hover,
.formContainer button.btn:hover {
  background-color: $primary-color;
  color: $btn-color;
}

.searchBar {
  width: 60%;
  background-color: $white;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 0.375rem;
  border: 2px solid #d6cfdb;
  color: $primary-color;
  font-weight: 700;
  flex-grow: 1;
}

.components {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
}

.bookList h3 {
  color: #6854c2;
  font-weight: bolder;
}

.btnAdd {
  right: 0;
  width: 220px;
  background-color: $primary-color;
  color: $btn-color;
  font-weight: 600;
}

.btnAdd:hover {
  color: $primary-color;
  background-color: #fdfdfd;
  border: 1px solid $primary-color;
}

.bookList label {
  margin-right: 10px;
  margin-left: 30px;
  font-size: 17px;
  color: $content-text-color;
  font-weight: 600;
}

.bookList select {
  padding: 4px;
  font-size: 17px;
  background-color: $white;
  color: $primary-color;
  text-align: center;
  width: 18%;
  border-radius: 0.375rem;
  outline: none;
  border: 1px solid $td-row-hover;
}

.bookList select:hover,
.bookList option:hover {
  cursor: pointer;
}

#filterTable {
  padding: 10px 15px;
  margin-left: 16.2rem;
  width: 30%;
  border: 2px solid #d6cfdb;
  border-radius: 0.375rem;
  background-color: $white;
  color: $primary-color;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236854c2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  padding-right: 40px;
}

#filterTable:hover {
  border-color: $primary-color;
  box-shadow: 0 4px 8px rgba(104, 84, 194, 0.15);
}

#filterTable:focus {
  outline: none;
  border-color: $primary-color;
  box-shadow: 0 0 0 3px rgba(104, 84, 194, 0.1);
}

/* Custom dropdown styling */
#filterTable option {
  padding: 12px 15px;
  margin: 5px 0;
  background-color: $white;
  color: $primary-color;
  font-weight: 600;
  border: none;
  line-height: 1.8;
  font-size: 16px;
}

#filterTable option:checked {
  background: linear-gradient(#e8dff5, #e8dff5);
  background-color: #e8dff5;
  color: $primary-color;
  font-weight: 700;
}

#filterTable option:hover {
  background-color: #f0ebf8;
  color: $primary-color;
}

/* Webkit browsers (Chrome, Safari, Edge) */
#filterTable::-webkit-scrollbar {
  width: 8px;
}

#filterTable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.375rem;
}

#filterTable::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 4px;
}

#filterTable::-webkit-scrollbar-thumb:hover {
  background: darken($primary-color, 10%);
}

.bookList #rowsPerPage {
  width: 90%;
}

.buttons {
  display: flex;
  margin-left: 16%;
  flex-wrap: nowrap;
  padding: 1rem;
}

.buttons button {
  width: 40%;
  border-radius: 40px;
  outline: none;
  border: none;
  padding: 10px;
  color: $white;
  font-weight: 700;
}

.buttons .btnConfirmYes {
  background-color: rgb(21, 156, 21);
  margin-right: 30px;
}

.modal button:hover {
  color: $white;
  background-color: inherit;
  outline: 1px solid $white;
}

.buttons .btnConfirmNo {
  background-color: red;
}

.dialogBox h3 {
  padding: 2rem;
}

.profileContainer h3{
  color: #6854c2;
  font-weight: bolder;
}

.profileContainer .detailsContainer{
  width: 100%;
}

.statsContainer .card{
  border: none;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.statsContainer .card-title{
  font-weight: 700;
  color: $primary-color;
}

.statsContainer .card-text{
  color: $content-text-color;
  height: 4rem;
  overflow-y: auto;
}

.orderActions .card-text{
  height: 6.7rem;
}

.statsContainer .btn{
  border: 1px solid $primary-color;
  color: $primary-color;
  font-weight: 500;
}

.statsContainer .btn:hover{
  background-color: $primary-color;
  color: $white;
}

@media screen and (max-width: 1400px) {
  .components {
    display: flex;
  }

  .components select,
  .btnAdd {
    max-height: 47.2px;
  }

  .btnAdd {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .components select,
  .btnAdd {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .components {
    display: flex;
  }

  .components select,
  .btnAdd {
    max-height: 57.2px;
    /* width: 100%; */
  }

  .btnAdd {
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .components {
    display: flex;
  }

  .components label {
    display: none;
  }

  .components select {
    width: 30%;
    margin-left: 10px;
    margin-right: 0;
    max-height: 47.2px;
  }

  .components .btnAdd {
    height: 49.2px;
    width: 70%;
    padding: 7px;
    padding-top: 1px;
  }

  .formContainer,
  .detailsContainer{
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .components {
    display: flex;
  }

  .formContainer,
  .detailsContainer{
    width: 100%;
  }
}

footer {
  padding: 12px 10px;
  background-color: #000;
  color: grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/** --------------------------CSS for Cart Page------------------------------- **/

#cartIcon {
  color: $white;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 1.4rem;
  margin-right: 20px;
}

.btnQuantityControl {
  font-weight: 700;
  border: 1px transparent;
  outline: none;
  padding: 0px 8px 0px 8px;
  font-size: 1.4rem;
  color: $primary-color;
  width: 16%;
}

.btnQuantityControl:disabled {
  color: grey;
}

.cart-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-heading .right-heading span {
  right: 0;
  margin-right: 0;
  padding: 10px;
}

.cartTotal {
  color: $primary-color;
  background-color: inherit;
  border: 1px solid $primary-color;
  text-align: center;
  padding: 14px;
  width: 40%;
  border-radius: 0.375rem;
  font-weight: 500;
  margin: auto;
}

.checkout {
  color: $white;
  text-align: center;
  background-color: $primary-color;
  padding: 10px;
  width: 20%;
  border-radius: 0.375rem;
  font-weight: 500;
  outline: none;
  border: none;
}

.addBooks{
  background-color: inherit;
  color: $primary-color;
  border: 1px solid $primary-color;
  display: block;
  margin: auto;
  padding: 10px;
  width: 20%;
  border-radius: 0.375rem;
  font-weight: 500;
  outline: none;
  margin-top: 2rem;
}

.addBooks:hover{
  color: $white;
  background-color: $primary-color;
}

.cartEmpty{
  color: $content-text-color;
}

.booksLink{
  color: $primary-color;
  text-decoration: underline;
}

.cart-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  min-width: 16px;
  padding: 1px 2px;
  font-size: 12px;
  font-weight: bold;
  color: $primary-color;
  background-color: $white;
  border-radius: 50%;
}

.cartBottom {
  display: flex;
  justify-content: flex-end;
}

.clearCart {
  padding: 10px;
  border: 1px solid $primary-color;
  outline: none;
  width: 20%;
  background-color: inherit;
  color: $primary-color;
  font-weight: 500;
  margin-right: 10px;
}

.clearCart:hover {
  color: $white;
  background-color: $primary-color;
}

.btn-loader{
  border: 1px solid $primary-color;
  color: $primary-color;
}

.checkoutConfirmBox .modalFooter button{
  color: $primary-color;
  background-color: inherit;
  border: 1px solid $primary-color;
  padding: 7px;
  font-weight: 400;
}

.checkoutConfirmBox .modalFooter button:hover{
  color: $primary-color;
}

.checkoutConfirmBox .modalFooter button.checkout{
  background-color: $primary-color;
  color: $white;
}

.checkoutConfirmBox .modalFooter button.checkout:hover{
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: inherit;
}

.checkoutConfirmBox .closeButton{
  outline: none;
  border: transparent;
}

.checkoutConfirmBox button.delete{
  background-color: $primary-color;
  color: $btn-color;
}

.checkoutConfirmBox button.delete:hover{
  background-color: $btn-color;
  color: $primary-color;
}

/** --------------------------------------------------------------- **/

.fa-google {
  color: #0f9d58;
}

.btnAction {
  background-color: transparent;
  outline: none;
  border: none;
  color: $heading-color;
  padding: 3px;
}

.btn:disabled, .btn[disabled]{
  cursor: not-allowed !important;
}

.btnPaginationActive {
  background-color: $primary-color;
  color: $btn-color;
}

.btnPaginationInactive {
  outline: $primary-color;
  background-color: transparent;
  color: $primary-color;
}

.btnPaginationActive:hover {
  background-color: $primary-color;
  color: $btn-color;
}

.btnPaginationInactive:hover {
  border: 1px solid $primary-color;
  color: $primary-color;
}

.btnPaginationControls {
  outline: $primary-color;
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 8px 16px;
  border-radius: 8px;
}

.btnPaginationControls:hover {
  color: $btn-color;
  background-color: $primary-color;
  transition: 0.5s;
}

.pagination,
.table-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination ul {
  margin-bottom: 0;
  display: flex;
  gap: 5px;
  align-items: center;
}

.right-pagination,
.right-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.left-pagination,
.left-heading {
  display: flex;
  align-items: center;
  width: 20%;
}

.pagination span {
  width: 100%;
  padding-top: 0;
  margin-right: 10px;
  font-size: 17px;
  color: $content-text-color;
  font-weight: 600;
}

.left-pagination{
  justify-content: space-between;
}

.statsContainer .card-title h5{
  font-weight: 700;
  color: $primary-color;
}

.statsContainer .card-title .left-heading{
  width: 40%;
}

.statsContainer span.cartTotal{
  padding: 6px;
  cursor: pointer;
}

.statsContainer span.cartTotal:hover{
  background-color: $primary-color;
  color: $white;
}

/** ----------------------------Table CSS---------------------------- **/

table {
  border: 1px solid $white;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  overflow: auto;
  color: $content-text-color;
  margin-bottom: 20px;
}

table tr {
  background-color: $white;
  border: 1px solid #ddd;
  padding: 0.35em;
  font-weight: 600;
}

table tbody tr:hover {
  background-color: $td-row-hover;
  cursor: pointer;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  font-weight: 600;
}

table div {
  margin: auto;
}

table th {
  font-weight: 800;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.booksTable,
.usersTable {
  height: 317px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.orderedBooksList .booksTable{
  height: auto;
}

.bookDonor:hover{
  text-decoration: underline;
  color: $primary-color;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
/** ---------------------------------------------------- **/
